body{
    width: 100%;
    min-height: 100vh;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
div li{
    display: flex;
    display: inline-block;
    padding: 20px 25px;
    margin-right: 10px;
    font-weight: bold;
}
.logo{
    margin-left: 40px;
    margin-top: 20px;
}

.doubleline{
    margin-top: 80px;
    margin-left: 100px;
    width: 100px;
}
.banner{
    margin-left: 650px;
    margin-top: -245px;

 
}

.content{
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
}

.passage{
    text-align: center;
}
.passage h1{
    font-weight: bold;
    font-size: 32px;

}
.passage p{
    font-size: 12px;

}



